.module {
  background: white;
  box-shadow: 0px 1px 20px 1px #00000012;
  border-radius: 8px;
  padding: 10px 20px 50px;
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .module {
    background: none;
    box-shadow: none;
  }
}

.module--header {
  text-align: left;
  border-bottom: 1px solid #ecebed;
  margin-bottom: 20px;
}

.module--title {
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}

.module--body {
  padding-top: 15px;
  padding-bottom: 15px;
}
